@{
    ViewData["Title"] = "Home";
}

<div class="border-bottom" style="height:30px" aria-label="breadcrumb">
    <ol class="breadcrumb ms-3 p-1">
        <li class="breadcrumb-item"><a href="#">DASHBOARD</a></li>
        <li class="breadcrumb-item active" aria-current="page">HOME</li>
    </ol>
</div>



<div class="container mt-5">

    <div class="alert alert-warning" role="alert">
        Andy X Portal <strong>PREVIEW</strong> works only with Andy X v2.1.
        <br />
        Please make sure that the Environment variable <strong>ANDYX_EXPOSE_CONFIG_ENDPOINTS</strong> is <strong>set</strong> at Andy X Node.
    </div>

    <div class="row mb-5">
        <div class="col">
            <div class="border p-4">
                <h6 class="text-uppercase text-muted">Total Storage</h6>
                <h2><strong>n/a</strong></h2>
            </div>
        </div>
        <div class="col">
            <div class="border p-4">
                <h6 class="text-uppercase text-muted">Total Nodes</h6>
                <h2><strong>n/a</strong></h2>
            </div>
        </div>
        <div class="col">
            <div class=" border p-4">
                <h6 class="text-uppercase text-muted">Total Topics</h6>
                <h2><strong>n/a</strong></h2>
            </div>
        </div>
    </div>
    <div>
        <div class="border p-4" style="height:550px">
            <h6 class="text-uppercase text-muted">Input and output</h6>
        </div>
    </div>
</div>
