@{
    ViewData["Title"] = "Home";
}

<div class="shadow-1 " aria-label="breadcrumb">
    <ol class="breadcrumb ms-3 p-1">
        <li class="breadcrumb-item"><a href="#">DASHBOARD</a></li>
        <li class="breadcrumb-item active" aria-current="page">HOME</li>
    </ol>
</div>

<div class="container mt-5">
    <div class="row mb-5">
        <div class="col">
            <div class="shadow-3 p-4">
                <h6 class="text-uppercase text-muted">Total Storage</h6>
                <h2><strong>1 TB / 500 TB</strong></h2>
            </div>
        </div>
        <div class="col">
            <div class="shadow-3 p-4">
                <h6 class="text-uppercase text-muted">Total Nodes</h6>
                <h2><strong>32 + 4 failover</strong></h2>
            </div>
        </div>
        <div class="col">
            <div class=" shadow-3 p-4">
                <h6 class="text-uppercase text-muted">Total Topics</h6>
                <h2><strong>620</strong></h2>
            </div>
        </div>
    </div>
    <div>
        <div class="shadow-3 p-4" style="height:550px">
            <h6 class="text-uppercase text-muted">Input and output</h6>
        </div>
    </div>
</div>
